
.dotted-bg {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;

    /*background-color: red;*/

    background-image: radial-gradient(
            circle,
            color-mix(in srgb, var(--clr-surface-a10) 80%, black) 1px,
            transparent 1px
    );

    background-size: 20px 20px;

    animation: drift 3s linear infinite;
}
.dotted-bg::before {
    content: "";
    position: fixed;
    inset: 0;
    pointer-events: none;

    background: radial-gradient(
            circle at center,
            transparent 60%,
            var(--clr-dark-a0)
    );
}

@keyframes drift {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 20px 20px;
    }
}

.viewport {
    position: relative;
    min-height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-x: hidden;
}

#trailer {
    aspect-ratio: 1;

    height: 2rem;
    /*background-color: white;*/
    backdrop-filter: invert(1);
    border-radius: 50%;

    position: fixed;

    top: 0;
    left: 0;
    z-index: 100000;

    pointer-events: none;
    opacity: 0;

    transition: opacity 500ms ease;

    display: grid;
    place-items: center;
}

*:hover > #trailer {
    opacity: 1;
}
