
.viewport {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#trailer {
    height: 1.5rem;
    width: 1.5rem;
    background-color: white;
    border-radius: 1.5rem;

    position: fixed;

    top: 0;
    left: 0;
    z-index: 100000;

    pointer-events: none;
    opacity: 0;

    transition: opacity 500ms ease;

    display: grid;
    place-items: center;
}

*:hover > #trailer {
    opacity: 1;
}