
@font-face {
    font-family: 'Cook Widetype';
    src: local('Cook Widetype'),
    url('https://cipher-ysws.vercel.app/fonts/CookWidetype.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
