
* {
    font-family: "JetBrains Mono", monospace;
    /*outline: 1px solid red !important;*/
}

body {
    background-color: var(--clr-dark-a0);
    color: var(--clr-primary-a80);
    margin: 0;

    height: 100%;

    background-image: radial-gradient(
            circle,
            color-mix(in srgb, var(--clr-surface-a10) 60%, black) 1px,
            transparent 1px
    );

    background-size: 20px 20px;
}
body::before {
    content: "";
    position: fixed;
    inset: 0;
    pointer-events: none;

    background: radial-gradient(
            circle at center,
            transparent 60%,
            var(--clr-dark-a0)
    );
}

.header-font {
    font-family: "Cook Widetype", monospace;
}
.sigma-font {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: var(--clr-primary-a10);
}