:root {
    color-scheme: dark !important;

    /** Base colors */
    --clr-dark-a0: #000000;
    --clr-light-a0: #ffffff;

    /** Theme primary colors */
    --clr-primary-a0: #4b66c6;
    --clr-primary-a10: #6375cd;
    --clr-primary-a20: #7985d3;
    --clr-primary-a30: #8d96da;
    --clr-primary-a40: #a0a7e0;
    --clr-primary-a50: #b4b8e7;
    --clr-primary-a60: #c7c9ed;
    --clr-primary-a70: #d9dbf3;
    --clr-primary-a80: #ecedf9;

    /** Theme surface colors */
    --clr-surface-a0: #121212;
    --clr-surface-a10: #282828;
    --clr-surface-a20: #3f3f3f;
    --clr-surface-a30: #575757;
    --clr-surface-a40: #717171;
    --clr-surface-a50: #8b8b8b;

    /** Theme tonal surface colors */
    --clr-surface-tonal-a0: #1c1b26;
    --clr-surface-tonal-a10: #31303a;
    --clr-surface-tonal-a20: #474650;
    --clr-surface-tonal-a30: #5f5e67;
    --clr-surface-tonal-a40: #78777e;
    --clr-surface-tonal-a50: #919097;

    /** Success colors */
    --clr-success-a0: #22946e;
    --clr-success-a10: #47d5a6;
    --clr-success-a20: #9ae8ce;

    /** Warning colors */
    --clr-warning-a0: #a87a2a;
    --clr-warning-a10: #d7ac61;
    --clr-warning-a20: #ecd7b2;

    /** Danger colors */
    --clr-danger-a0: #9c2121;
    --clr-danger-a10: #d94a4a;
    --clr-danger-a20: #eb9e9e;

    /** Info colors */
    --clr-info-a0: #21498a;
    --clr-info-a10: #4077d1;
    --clr-info-a20: #92b2e5;
}